{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="text-center">
    <br>
    <h1>List of Players: </h1>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <table class="mx-auto table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Role</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% if players is defined %}
                        {% for player in players %}
                        <pre>
                        </pre>
                        <tr>
                            {# <td><a target="_blank" href="{{ item.originalUrl }}">{{ item.originalUrl }}</a></td> #}
                            <td>{{ player.id }}</td>
                            <td>{{ player.firstname }}</td>
                            <td>{{ player.lastname }}</td>
                            <td>{{ player.role }}</td>
                            <td><a href="{{ path("player_edit",{"id":player.id}) }}">Edit</a><br><a href="{{ path("player_delete",{"id":player.id}) }}">Delete</a></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="5">Nothing to see</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">Nothing to see</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <a class="btn-primary btn" href="{{ path("player_create") }}">Create a new Player</a>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
{% endblock %}
